.ukraine-flag-blue {
    width: 100%;
    height: 50%;
    background-color: $ukraine-blue;
    @include flex-jcCenter-aiCenter;
    font-size: 2rem;
}
.ukraine-flag-yellow {
    width: 100%;
    height: 50%;
    background-color: $ukraine-yellow;
    @include flex-jcCenter-aiCenter;
    font-size: 2rem;
    margin-bottom: 2%;
}