//Vendor
// @import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Layout
@import "./layouts/_layouts-dir";


body {
    // background-color: rgb(136, 59, 14);
    max-width: 100%;
    height: 100vh;
    font-family: $font-family-inter;
}